<h1>Add ingredient do the wonderful <%= @cocktail.name %></h1>

<div class="container">

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description , label: "Measure" %>
  <%= f.association :ingredient %>
  <%= f.submit %>
<% end %>

</div>
